DISCORD_TOKEN=SEU_TOKEN_DISCORD_AQUI
DONO_ID=SEU_ID_AQUI
WEBHOOK_LOGS_COMMANDS=LINK_DO_WEBHOOK_DO_CANAL_DE_LOGS_DE_COMANDOS_AQUI
WEBHOOK_GUILDS=LINK_DO_WEBHOOK_DO_CANAL_DE_LOGS_DE_SERVIDORES_AQUI
WEBHOOK_SUGESTAO=LINK_DO_WEBHOOK_DO_CANAL_DE_SUGUESTÔES_AQUI