DISCORD_TOKEN=SEU_TOKEN_DISCORD_AQUI
DONO_ID=SEU_ID_AQUI
PREFIX=PREFIX_AQUI
MONGODB_URI=LINK_DO_MONGODB_AQUI
TOP_GG_TOKEN=TOKEN_DO_TOP.GG
TOP_GG_WEBHOOK=LINK_DO_WEBHOOK_DO_TOP.GG
WEBHOOK=LINK_DO_WEBHOOK_DO_CANAL_DE_LOGS_DE_LOGS